<%- include('partials/dashboardHeader')%>

<div class="welcome-container">
    <h4 class="text-light">welcome to your Personal Dashboard <%=user.fullname%></h4>
    <div class="welcome-container-body">
        <div class="dashboard">
            <p class="text-light">Dashboard/</p>
        </div>
        <div class="home">
            <p class="text-light">Home</p>
        </div>
    </div>
</div>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->

  <div class="record-container">
    <div class="record-container-boxes">

      <div class="bonus-box">
        <div class="bonus-box-text">
            <h5><%=user.available%></h5>
            <strong>Available Balance</strong>
        </div>
        <div class="bonus-box-image">
            <i class="bi bi-wallet"></i>
        </div>
    </div>
        <div class="deposit-box">
            <div class="deposit-box-text">
                <h5><%=user.balance%></h5>
            <strong>Amount Deposited</strong>
            </div>
            <div class="deposit-box-image">
                <i class="bi bi-wallet"></i>
            </div>
        </div>

        <div class="widthdraw-box">
            <div class="widthdraw-box-text">
                <h5><%=user.widthdrawBalance%></h5>
                <strong>Amount Widthdrawn</strong>
            </div>
            <div class="deposit-box-image">
                <i class="bi bi-wallet"></i>
            </div>
        </div>

        <div class="bonus-box">
            <div class="bonus-box-text">
                <h5><%=user.bonus%></h5>
                <strong>Bonus Received</strong>
            </div>
            <div class="bonus-box-image">
                <i class="bi bi-wallet"></i>
            </div>
        </div>
        
    </div>
  </div>

    <!-- TradingView Widget BEGIN -->
<!-- TradingView Widget BEGIN -->
<div class="first-chart">
<div class="tradingview-widget-container">
  <div id="tradingview_b6a60"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "BINANCE:BTCUSDT",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "allow_symbol_change": true,
  "details": true,
  "hotlist": true,
  "calendar": true,
  "studies": [
    "STD;Average%Day%Range"
  ],
  "container_id": "tradingview_b6a60"
}
  );
  </script>
</div>
</div>
<!-- TradingView Widget END -->

<!-- TradingView Widget BEGIN -->
<div class="second-chart">
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container-widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-forex-heat-map.js" async>
  {
  "width": "770",
  "height": "500",
  "currencies": [
    "EUR",
    "USD",
    "JPY",
    "GBP",
    "CHF",
    "AUD",
    "CAD",
    "NZD",
    "CNY"
  ],
  "isTransparent": false,
  "colorTheme": "dark",
  "locale": "en"
}
  </script>
</div>
</div>
<!-- TradingView Widget END -->

<div class="third-container">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
  {
  "feedMode": "all_symbols",
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "regular",
  "width": 1200,
  "height": 830,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
</div>


<%- include('partials/dashboardFooter')%>